
  
<div class="container">
			<div class="row">
				<div class="span3">
					<h4>Links</h4>
					<ul>
						<li><a href="http://www.kakapoint.com/">My Home Site</a></li>
						<li><a href="http://catlins.kiwi.nz/">Another site I built</a></li>
						<li><a href="https://www.youtube.com/watch?v=eM1ukb1-6tU&feature=youtu.be">3D Animation I created</a></li>
						<li><a href="http://kakapoint.com/rpg001/rpg/index.html">2D Game I'm working on</a></li>
						<li><a href="http://greencross.org.nz/wordpress/">Green Cross NZ</a></li>
						<li><a href="https://www.greens.org.nz/">The NZ Greens Party</a></li>
						<li><a href="http://refinerycms.com/">RefineryCMS</a></li>
						<li><a href="blog.html">Blog</a></li>


					</ul>
				</div>
				<div class="span3">
					<h4>Contact Us</h4>
					<address>
						<strong>Peter Davy Web Design</strong><br />
						Kaka Point<br />
						New Zealand<br />
						<!--<abbr title="Phone">P:</abbr> (123) 456-7890<br /> -->
						<a href="davpet77@hotmail.com">davpet77@hotmail.com</a>
					</address>
				</div>				
				<div class="span4">
					<h4>About</h4>
					<p>Website by Peter Davy. Created as an example website to showcase my web design skills. Other websites by Peter Davy are <a href="http://kakapoint.com/"> kakapoint.com</a> and <a href="http://catlins.kiwi.nz/"> catlins.kiwi.nz.</a></p>
				</div>
				<div class="span2 social">
					<h4>Social</h4>
					<div class="row-fluid">
						<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-facebook"></i></a></div>
						<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-twitter"></i></a></div>
						<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-linkedin"></i></a></div>
						<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-google-plus"></i></a></div>
						<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-pinterest"></i></a></div>
						<div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-github"></i></a></div>
					</div>
				</div>
			</div>
		</div>

<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>

</p>
