<% provide(:contact, "active") %>

<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

  <div class='inquiries'>
    <%= render "/refinery/inquiries/inquiries/form", inquiry: @inquiry %>
  </div>
<% end %>
<%= render "/refinery/content_page" %>

 <div class="span4">
				<aside id="sidebar" class="well">

				<p>At the end of the day I'm just not happy with the way this country is headed. I think it sucks big time. We have developed a two tiered society with the middle class and upper class living a great happy life in this beautiful country while everybody else is pretty much doomed to a life of stress and struggle for very little reward.</p>
				<br>
				<p>At the end of the day I'm just not happy with the way this country is headed. I think it sucks big time. We have developed a two tiered society with the middle class and upper class living a great happy life in this beautiful country while everybody else is pretty much doomed to a life of stress and struggle for very little reward.</p>
				<br>
				<p>At the end of the day I'm just not happy with the way this country is headed. I think it sucks big time. We have developed a two tiered society with the middle class and upper class living a great happy life in this beautiful country while everybody else is pretty much doomed to a life of stress and struggle for very little reward.</p>

			
				</aside>